*{
 margin: 0;
 padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: black;
}

.App {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacity {
  animation:opac 2.0s;
  color: white;
  animation-duration: 3s;
  margin: 0%;
}

@keyframes opac {
  from{opacity:0}
  to{opacity:1}
}

/*.fading {
  animation:fading 5s infinite;
}

@keyframes fading {
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}}*/

.title {
  text-align: center;
  font-size: 26px;
  color: white;
}

input {
  margin: 5px;
}

.reminder-form {
  padding: 5px;
}

.list-item {
  display: inline-block;
}

.delete-button {
  float: right;
  padding-left: 5px;
}

.button:active {
  box-shadow: 0 1px grey;
  transform: translateY(5px);
}

.clear-button {
    position: relative;
    border: none;
    font-size: 16px;
    text-align: center;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.clear-button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.clear-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.roller {
  font-size: 35px;
  position: fixed;
  animation-duration: 1s;
}

.center-div {
  height: 200px;
  position: relative;
}

.center-all {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-clear-btn {
  padding: 10px;
  margin: 0;
  position: relative;
  left: 0%;
  transform: translate(-50%, 50%);
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: black;
}

/* in the event more pages are added for whatever reason */
.page-jump {

}

/* if needed to get another page/back to top */
.top-page {
  letter-spacing: 2px;
  text-align: center;
}

#top-page-layout {
  height: 100vh;
  width: 100%;
  letter-spacing: 12px;
  text-align: center;
  box-sizing: border-box;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

/*.top-page-background {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1482775907821-a56ec43344fc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=34e2fb37422a3fc454b0c08cb5cd8d56&auto=format&fit=crop&w=1052&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}*/

#iRemindYouApp {
  height: 100vh;
  letter-spacing: 2px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.blurred-box{
  position: relative;
  width: 500px;
  height: 75px;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  overflow: hidden;
}

/*.blurred-box:active{
 content: '';
 width: 500px;
 height: 500px;
 background: inherit;
 position: absolute;
 left: 0px;
 right: 0px;
 top: -25px;
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.4);
 filter: blur(5px);
}*/
